<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maktaba</title>
</head>

<body>
    <h2><a href="{% url 'home' %}">На главную</a></h2><br>
    <h3>Поиск</h3>
    <form action="{% url 'search' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="search_field">
        <input type="submit" value="submit">
    </form>
    -----------<br>
    {% if user.is_authenticated %}
        <span> Здравствуйте,{{ user.username }}! </span><br>
        <a href="{% url 'logout' %}">SignUp</a>
    {% else %}
        <a href="{% url 'login' %}">Sign In</a>
    {% endif %}
    {% block content %}
    {% endblock %}
</body>

</html>