<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maktaba</title>
</head>

<body>
    <h3>Поиск</h3>
    <form action="{% url 'search' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="search_field">
        <input type="submit" value="submit">
    </form>
    {% block content %}
    {% endblock %}
</body>

</html>